--- 
title: Inici
---

  <p>En aquest punt d'informació trobaràs continguts relacionats amb el
  <strong>Planetari de Castelló</strong> com <em>activitats</em>,  <em>programas</em>, <em>exposicions</em>, etc. junt 
  amb explicacions relacionades amb la ciència que vas a poder gaudir en les nostres instal·lacions com la descripció
  del <em>Sistema Solar</em>, de la <em>física del so</em>, del <em>Pèndol de Focault</em>, etc.</p>

  <p>Per a organitzar la informació hem disposat 2 apartats per visitar:</p>

  <div class="itemselect">
    <h2 class="oculto">Subitems</h2>
    <ul>       
      <li class="btnlnk">
        <a class="resalta" href="planetari/"><img src="<%= relative_path_to('/')%>img/Planetari_logo64px.png"
         alt="Planetari de Castelló">Planetari</a>
      </li>
    </ul>
  </div>
  <div class="itemselect">
    <ul>
      <li class="btnlnk">
        <a class="resalta" href="ciencia/"><img src="<%= relative_path_to('/')%>img/pla_science_icon.png"
         alt="Ciencia">Ciència</a>
      </li>                  
    </ul>
  </div>



