--- 
title: Home
---

<p>At this point of information you will find  content related to the <strong>Planetarium de Castelló</strong> as <em>activities</em>, <em>programs</em>, <em>exhibitions</em>. along with explanations related to science that you are able to enjoy our facilities as a description of the <em>solar system</em>, <em>physics of sound</em>, <em>Foucault's Pendulum</em>, etc.</p>

<p>To organize the information has been separated into 2 sections to visit:</p>

  <div class="itemselect">
    <h2 class="oculto">Subitems</h2>
    <ul>       
      <li class="btnlnk">
        <a class="resalta" href="planetari/"><img src="<%= relative_path_to('/')%>img/Planetari_logo64px.png"
         alt="Planetari de Castelló">Planetarium</a>
      </li>
    </ul>
  </div>
  <div class="itemselect">
    <ul>
      <li class="btnlnk">
        <a class="resalta" href="science/"><img src="<%= relative_path_to('/')%>img/pla_science_icon.png"
         alt="Ciencia">Science</a>
      </li>                  
    </ul>
  </div>



