--- 
title: Inicio
---

  <p>En este punto de información encontrarás contenidos relacionados con el 
  <strong>Planetari de Castelló</strong> como <em>actividades</em>,  <em>programas</em>, <em>exposiciones</em>, etc. junto 
  con explicaciones relacionadas con la ciencia que vas a poder disfrutar en 
  nuestras instalaciones como la descripción del <em>Sistema Solar</em>, de la <em>física 
  del sonido</em>, del <em>Péndulo de Focault</em>, etc.</p>

  <p>Para organizar la información la hemos separado en 2 apartados para visitar:</p>

  <div class="itemselect">
    <h2 class="oculto">Subitems</h2>
    <ul>       
      <li class="btnlnk">
        <a class="resalta" href="planetari/"><img src="<%= relative_path_to('/')%>img/Planetari_logo64px.png"
         alt="Planetari de Castelló">Planetari</a>
      </li>
    </ul>
  </div>
  <div class="itemselect">
    <ul>
      <li class="btnlnk">
        <a class="resalta" href="ciencia/"><img src="<%= relative_path_to('/')%>img/pla_science_icon.png"
         alt="Ciencia">Ciencia</a>
      </li>                  
    </ul>
  </div>


